search {
  width: 100vw;
  height: auto;
  background-color: #e74c3c;
  position: fixed;
}

.searchbar{
  margin-bottom: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 60px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px;
}

.search_input{
  color: ghostwhite;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_input{
  padding: 0 10px;
  width: 450px;
  caret-color:#e74c3c;
  transition: width 0.3s linear;
}

.searchbar:hover > .search_icon{
  background-color: ghostwhite;
  color: #e74c3c;
}

.search_icon{
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:ghostwhite;
  border: none;
  background-color: #353B48;
  background-size: 110%
}

.search_icon:hover {
  cursor: pointer;
}

.results_number {
  font-size: 25px;
  padding-left: 285px;
}

.result-body {
  padding-top: 85px;
}

.result-list {
  text-align: center;
  padding: 10px 260px 25px 260px;
}

.pokemon_result {
  width: 260px;
  height: 250px;
  text-align: center;
  display: inline-block;
  background-color: #353B48;
  color: ghostwhite;
  margin: 5px 2px;
  
}

.pokemon_result:hover {
  color: #0f0f0f;
  cursor: pointer;
  background-color: #e74c3c;
  border: none;
}

.pokemon_result > img {
  height: 150px;
}

.divTypes {
  width: 258px;
  height: 50px;
}

/* TYPES */
.btnType {
  border: none;
  border-radius: 10px;
  margin: 5px;
  width: 92px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.btnType:hover {
  cursor: pointer;
}

.normal {
  background-color: #A8A878;
}

.fire {
  background-color: #F08030;
}

.water {
  background-color: #6890F0;
}

.grass {
  background-color: #78C850;
}

.electric {
  background-color: #F8D030;
}

.ice {
  background-color: #98D8D8;
}

.fighting {
  background-color: #C03028;
}

.poison {
  background-color: #9F429F;
}

.ground {
  background-color: #E0C068;
}

.flying {
  background-color: #A890F0;
}

.psychic {
  background-color: #F85888;
}

.bug {
  background-color: #A8B820;
}

.rock {
  background-color: #B8A038;
}

.ghost {
  background-color: #705898;
}

.dark {
  background-color: #705848;
}

.dragon {
  background-color: #7038F8;
}

.steel {
  background-color: #B8B8D0;
}

.fairy {
  background-color: #F0B6BC;
}


.data-line {
  height: 4px;
  background-color: #0f0f0f;
  font-size: 1px;
}

.poke-btn {
  background-color: #0f0f0f;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  transform: translate(-50%, -46%);
  left: 50%;
}

.poke-btn-1 {
  background-color: #F8F8FF;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  transform: translate(-50%, 12%);
  left: 50%
}

.poke-btn-2 {
  border: 2px solid #0f0f0fa8;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  transform: translate(-50%, 16%);
  left: 50%
}

/*------------------------------- MODAL DATA STYLES */
.modal, .fade, .show, #PokemonModal {
    padding-left: 0 !important;
}

.modal-header {
  padding: 0;
}

.modal-data-body {
  margin-top: 30px;
  max-width: 800px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  justify-content: center;
}

.data-section {
  /* background-color: lightblue; */
  /* height: 150px; */
  margin-bottom: 4px;
}

.data-section--inner {
    width: 100%;
}

.section-small {
    width: 49.7%;
    min-width: 264px;
    flex-grow: 1;
}

.tag-div {
    width: 100%;
    display: flex;
}

.stat-div {
    width: 100%;
    display: flex;
    margin-top: 4px;
}

.stat-tag {
    width: 15%;
    font-size: 16px;
    text-align: end;
    margin-right: 5px;
}

.stat-tag-bar {
    width: 400px;
    height: auto;
    background-color: #3532e2;
    border-radius: 20px;
}

.odd {
    background-color: rgb(226, 226, 226);
}

.data-titles {
    width: 100%;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    background-color: #e74c3c;
    color: #fff;
}

.data-tag {
    width: 50%;
    font-size: 16px;
    text-align: end;
    margin-right: 2%;
}

.data-tag-result {
    width: 50%;
    font-size: 18px;
    font-weight: 500;
    margin-left: 2%;
}

.section-big {
  width: 100%;
}

.moves_section {
  height: auto;
}


.modal-footer {
  padding: 0 25px 0 0;
  font-size: x-small;
}

.modal-footer span {
  font-weight: 500;
}

/*------------------------------- MODAL STYLES END */